<footer class="footer">
	<div class="container">
        <a href="https://github.com/lrlupfer/beer-app" target="_blank"><img src="images/github.png" class="img-responsive center-block" width="30px"></a><br>
        <p class="text-muted">&copy; 2017 ZenBrew</p>
    </div>
</footer>