{{> brewsNav }}

<div class="container">
  <h1> {{user.email}} </h1>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    	<img src="images/zenbrew_logo.png" class="img-responsive center-block" id="mainLogo">
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><br><br>
    <p><button type="button" class="btn-warning btn-lg btn-info" data-toggle="modal" data-target="#addBrewModal">Add a new brew</button></p><br>
  	<h1>MY BREWS</h1>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="brewsDisplay"></div>
    <div class="col-md-2"></div>
  </div>

</div>

  <!-- ADD BREW MODAL -->
  <div id="addBrewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Add brew modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ADD A NEW RECIPE</h4>
      </div>

      <div class="modal-body">

        <p>Use the form below to add a new recipe.</p>

      <form class="form-horizontal" id="addBrew">
        <div class="form-group">
          <label for="beerName" class="col-sm-3 control-label">Brew Name</label>
          <div class="col-sm-9">
            <input type="name" class="form-control" id="beerName" placeholder="Get funky!">
          </div>
        </div>
        <div class="form-group">
          <label for="beerType" class="col-sm-3 control-label">Brew Style</label>
          <div class="col-sm-9">
            <select class="form-control" id="beerType">
              <option>Ale</option>
              <option>Lager</option>
              <option>Amber</option>
              <option>Stout</option>
              <option>Porter</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="beerRecipe" class="col-sm-3 control-label">Brew Recipe</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="5" placeholder="Enter your ingredients and brewing process here." id="beerRecipe"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="beerNotes" class="col-sm-3 control-label">Brew Notes</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3" placeholder="This is an optional space for additional notes you'd like to save." id="beerNotes"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="beerRating" class="col-sm-3 control-label">Brew Rating</label>
          <div class="col-sm-9">
            <select class="form-control" id="beerRating">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" value="Submit" class="btn btn-default" id="addBrew">Add my recipe</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>

  </div>
  </div>