{{> brewsNav }}

<div class="container">

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img src="images/zenbrew_logo.png" class="img-responsive center-block" id="mainLogo">
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><br><br>
    <p>
      <button type="button" class="btn-warning btn-lg btn-info" data-toggle="modal" data-target="#addBrewModal">Add a new brew</button>
      <button type="button" class="btn-warning btn-lg btn-info" data-toggle="modal" data-target="#userStatsModal">View my brew stats</button>
    </p><br>
    <h1>MY BREWS</h1>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="brewsDisplay"></div>
    <div class="col-md-2"></div>
  </div>

</div>

  <!-- ADD BREW MODAL -->
  <div id="addBrewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Add brew modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ADD A NEW RECIPE</h4>
      </div>

      <div class="modal-body">

        <p>Use the form below to add a new recipe.</p>

      <form class="form-horizontal" id="brewsDisplayForm">
        <div class="form-group">
          <label for="beerName" class="col-sm-3 control-label">Brew Name</label>
          <div class="col-sm-9">
            <input type="name" class="form-control" id="beerName" placeholder="Get funky!">
          </div>
        </div>
        <div class="form-group">
          <label for="beerType" class="col-sm-3 control-label">Brew Style</label>
          <div class="col-sm-9">
            <select class="form-control" id="beerType">
              <option>Ale</option>
              <option>Lager</option>
              <option>Amber</option>
              <option>Stout</option>
              <option>Porter</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="batchSize" class="col-sm-3 control-label">Batch Size</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="1" placeholder="Enter your batch size in gallons." id="batchSize"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="boilTime" class="col-sm-3 control-label">Boil Time</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="1" placeholder="Enter your boil time in minutes." id="boilTime"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="ingredients" class="col-sm-3 control-label">Ingredients</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3" placeholder="Enter your ingredients here." id="ingredients"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="beerRecipe" class="col-sm-3 control-label">Brew Recipe</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="5" placeholder="Enter details about your brewing process here." id="beerRecipe"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="beerNotes" class="col-sm-3 control-label">Brew Notes</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3" placeholder="This is an optional space for additional notes you'd like to save." id="beerNotes"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="beerRating" class="col-sm-3 control-label">Brew Rating</label>
          <div class="col-sm-9">
            <select class="form-control" id="beerRating">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button value="Submit" class="btn btn-default" id="addBrew">Add my recipe</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>

  </div>
  </div>

    <!-- USER STATS MODAL -->
  <div id="userStatsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Add brew modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">YOUR BREWING STATS</h4>
      </div>

      <div class="modal-body">

        <p>Here's some interesting data on your homebrewing history!</p>
        
        <canvas id="myChart" width="200" height="200"></canvas>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
$(document).ready(function() {

  $.ajax({
    url : "http://localhost:8080/api/brews", // do I need the localhost part?
    type : "GET",
    success : function(data) {
      console.log(data);

      var ctx = $("#myChart");

      var data = {
        labels: ["Ale", "Lager", "Amber", "Stout", "Porter", "Other"],
        datasets: [
          {
            label: "Key",
            data: brewType,
            backgroundColor: [
              "#DEB887",
              "#A9A9A9",
              "#DC143C",
              "#F4A460",
              "#2E8B57",
              "#CDA776"]
          }
        ]
      };

      var options = {
        title: {
          display: true,
          position: "top",
          text: "Your Brews By Style",
          fontSize: 18,
          fontColor: "#111"
        },
        legend: {
          display: true,
          position: "bottom"
        }
      };

      var chart = new Chart(ctx, {
        type: "doughnut",
        data: data,
        options: options
      });

    },
    error: function(data) {
      console.log(data);
    }
  });

});

</script>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
  </div>